# Spring Profile: dev (开发环境) 或 prod (生产环境)
SPRING_PROFILES_ACTIVE=prod

# JWT 配置
TOKEN_SECRET=xxxxxx
JWT_ISSUER=auth0
JWT_EXPIRE_TIME=604800000

# 数据库配置
PG_HOST=localhost
PG_USERNAME=postgres
PG_PASSWORD=xxxxx

# 邮箱配置
EMAIL_FROM_NAME=xxxxx
EMAIL_USERNAME=xxxxx@163.com
EMAIL_PASSWORD=xxxxx
EMAIL_HOST=smtp.163.com

# Redis 配置
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=xxxxxx

# 服务器配置
SERVER_PORT=8090

CORS_ALLOWED_ORIGINS=https://hanphone.cn,https://www.hanphone.cn,http://localhost:8080,http://localhost:3000